.main-box-container {
  margin: 20px 17px 0 17px;
  height: auto;
  background-color: white;
  border-radius: 20px;
}

.box-container-card {
  width: 100%;
}

.container-text h1 {
  font-size: 22px;
  padding: 5px 5px 5px 5px;
  margin-left: 10px;
  width: 110px;
  text-align: center;
  border-radius: 20px;
}

.container-text h1:hover {
  background-color: #D6D6D6
}

.back-button {
  padding-top: 15px;
}

.container-img {
  display: flex;
  justify-content: center;
}

.container-img img {
  width: 100%;
  max-width: 265px;
}

.name-and-price-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name-and-price-container h1 {
  font-size: 25px;
  width: 200px;
  text-align: center;
}

.price-product-container {
  margin-top: 20px;
}

.description-container h2 {
  margin-top: 25px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}