.main-box-container {
  margin: 20px 17px 0 17px;
  height: 250px;
  border: 1px solid red;
}

.box-container-card {
  width: 100%;
}

.container-text h1 {
  border: 1px solid red;
  font-size: 22px;
  padding: 5px 0 0 6px;
}

.container-img {
  width: 100%;
  max-width: 265px;
  padding: 15px 0 11px 0;
}
