.category-main-container {
       display: flex;
       flex-direction: column;
       margin-top: 20px;
}

.text-name-category {
       display: flex;
       align-items: center;
       justify-content: center;
       margin: 0 15px 15px 15px;
       height: 45px;
       background-color: #9BECAD;
}

.text-name-category h1 {
       font-size: 15px;
       font-weight: bold;
       
}