.main-container {
  min-height: 70px;
  padding-left: 20px;
}

.main-container h4 {
  font-size: 25px;
  font-weight: bold;
}

.links-container li {
  font-size: 18px;
  align-items: center;
}

.links-container a:hover {
  color: #fff;
  font-weight: bold;
}

.links-container a.active {
  color: #fff;
  font-weight: bold;
}

@media (min-width: 758px) {
  .links-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding-right: 50px;
  }
}

@media (min-width: 992px) {
  .links-container {
    width: 60%;
  }
}
