.description-text-container {
  margin: 15px;
  border: 1px solid #EAEAEA;
  padding: 10px 5px 0 5px;
  text-align: center;
  height: auto;
  border-radius: 10px;
  background-color: #EAEAEA;
}

.description-text p {
  margin: 0;
  font-size: 20px;
}

@media (min-width: 768px) {
  .description-text-container {
    margin: 25px 40px 25px 40px;
  }
}
