.comments-users {
       border: 1px solid blue;
       margin: 0 10px 10px 10px;
       background-color: white;
       border-radius: 15px;
}

.comments-text {
       text-align: center;
       margin-bottom: 20px
}

.comments-users h3{
       font-size: 20px;
       font-weight: bold;
       margin-bottom: 5px;
       margin: 5px 0 0 10px;
}

.comments-users p {
       padding-left: 10px;
}